In [20]:
# import pandas as pd

In [21]:
df = pd.DataFrame({'col01': [1, 2, 3], 'col02': [4, 5, 6], 'col03': [7, 8, 9]}, index=['idx01', 'idx02', 'idx03'])

In [33]:
# カラムの値を取得する
# × df['col01']
df.columns
df

       col01  col02  col03
idx01      1      4      7
idx02      2      5      8
idx04      3      6      9

In [32]:
# インデックスのリネーム
df = df.rename(index={'idx03': 'idx04'})
df

       col01  col02  col03
idx01      1      4      7
idx02      2      5      8
idx04      3      6      9

In [29]:
# カラム col01 列をシリーズで取得
df['col01']

idx01    1
idx02    2
idx04    3
Name: col01, dtype: int64

In [36]:
# 1列目を取得(※ iloc(IntegerIndexbased loc) を使用する)
df.iloc[:, 0]

idx01    1
idx02    2
idx04    3
Name: col01, dtype: int64

In [37]:
# 1列目から2列目まで取得(loc(LineOfControl)とスライスを使用する）
df.loc[:, 'col02':'col03']

       col02  col03
idx01      4      7
idx02      5      8
idx04      6      9

In [38]:
# データフレームの各列のデータ型を調べてください
df.dtypes

col01    int64
col02    int64
col03    int64
dtype: object

In [39]:
df.shape

(3, 3)