In [7]:
import pandas as pd
import numpy as np

In [5]:
# シリーズを生成(pandas) 
data = [90, 78, 65, 87, 72]
s1 = pd.Series(data)
s1

0    90
1    78
2    65
3    87
4    72
dtype: int64

In [15]:
# シリーズを生成(numpy) 
data2 = np.arange(1, 10, 2)
s2 = pd.Series(data2)
s2

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [17]:
# Seriesの情報確認
s1.dtypes
s1.index

RangeIndex(start=0, stop=5, step=1)

In [18]:
# indexの名称変更
s1.index = ['sato', 'suzuki', 'takahashi', 'tanaka', 'ito']

In [20]:
# 辞書型でSeriesを作成
dict01 = {'sato': 90, 'suzuki': 97, 'takahashi': 69, 'tanaka':87, 'sato': 72}
s3 = pd.Series(dict01)
s3

sato         72
suzuki       97
takahashi    69
tanaka       87
dtype: int64

In [28]:
# 値の取得
s1.values
s3['suzuki']
s3[0]

72

In [30]:
# 演算子を利用して抽出するデータを制限
s3[s3 > 80]

suzuki    97
tanaka    87
dtype: int64

In [32]:
# 要素数取得
s1.size
len(s1)

5

In [42]:
# 確認問題
name = ['sato', 'ito']
score = [90, 80]
dict02 = {'ito': 50, 'suzuki': None}
df = pd.DataFrame([[90, 75], [60, 95]], index = ['sato', 'ito'], columns = ['English', 'Math'])

In [43]:
# 1. Seriesを作成せよ（条件：リスト型の変数を使用, index名はnameとする）
s_list = pd.Series(score, name)
s_list

sato    90
ito     80
dtype: int64